body{
	background-color:#51FFFF;
	padding:0;
	margin: 0;
	
	padding-top:6px;
}
.mycontainer{max-width:1000px;}

.test{background-color:red;height:100px;}

/*-------menu--------*/
#big_menu{
	background-color:#A733CB;/*mau menu*/
	display:inline-block;
	width:100%;
	padding-left:0px;
	margin-top:5px;

}

#big_menu  li{  
	position: relative;
	list-style:none;
	
	float:left;
	/*canh giua chu*/
	padding:9px 16px 9px 16px ;
	margin:0 auto;
	border-right:1px solid blue;

}
.keduongphai,#big_menu li ul li{
	border-left:1px solid blue;
}

#big_menu  a{
	color:#C8DEDE;

}
#big_menu  li:hover > a {
	text-decoration:none;
	color:#A733CB;


}
#big_menu  li:hover{
	background-color:white;

}

#big_menu li:hover > ul{
	visibility: visible;


}

#big_menu ul{
	visibility:hidden;
	position:absolute;
	
	padding:9px 0 0 0;/*keo menu phu xuong 9px*/
	left:0px;
	transition:opacity .25s linear, visibility .1s linear .1s;
	/*menu con xep chong len tren noi dung nho dong nay*/
	z-index: 1;


	
}
#big_menu ul li{
	float:left;
	width:260%;
	background-color: #A733CB;
	border-top:1px solid blue;
	border-right:1px solid blue;

}
#big_menu ul li:last-child{
	border-bottom:1px solid blue;
}
#thongtin_trangchinh ul{
	padding-left:0px;
	
}
#thongtin_trangchinh li{
	position:relative;
	list-style:none;
}
#thongtin_trangchinh a{


}

/*5 nhom bai viet o trang chinh*/
.hoctap{
	height:100px;
}
.thicu{
	height:100px;
}
.thongbaohoc{

}
.thongbaothi{

}
.thongbaokhac{

}

/*dinh dang 1 bai viet khi doc*/
.body_articles{

}

.articles{

}
.thongtin_baiviet{
	background-color:#74DC77;
	margin-top:5px;
}



